.headline {
  font-size: 3.2rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  color:var(--yellow);
  margin-bottom: 0.8rem;
  line-height: 1.4;
  display: inline;
}
.head{
  text-align: center;
}
.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.contactCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.contactCard {
  background-color: var(--dusty-aqua-light);
  padding: 1rem;
  border-radius: 1px;
  border-bottom: 4px solid var(--dark-blue);
  box-shadow: var(--grey) 2px 6px 6px;
}

.p {
  font-weight: 300;
  font-size: 0.9em;
}
  

  

  
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: var(--dusty-aqua-light);
  padding: 1rem;
  border-radius: 1px;
  border-bottom: 4px solid var(--dark-blue);
  box-shadow: var(--grey)1px 4px 4px 1px;
  position: relative;
}
.card:hover {
  box-shadow: var(--grey) 3px 7px 7px 3px;
}
.card p {
  margin: 1px 0 10px;
}
.card a{
  text-decoration: none;
  color: var(--blue);
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
}
.sizeIcon::before {
  content: url("../../assets/icon-min-area.svg");
  vertical-align: middle;
  margin-right: 16px;
}
.budgetIcon::before {
  content: url("../../assets/icon-budget.svg");
  vertical-align: middle;
  margin-right: 16px;
  margin-top: 3rem;

}
.removeButton{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 15px;
  text-align: center;
  top: 14px;
  right: 14px;
}

.card button:hover{
  background-color: var(--hover);
}