.headline {
  font-size: 5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  display: inline;
}
.headline1 {
  font-size: 3rem;
  font-family: var(--font-sans);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  display: inline;
}
.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem
}
.content :first-child {
  margin-top: 0.1;
}
.content :last-child {
  margin-bottom: 0;
}

.form {
  background-color: var(--dusty-blue-lighter);
  padding: 1.5rem;
}

.label {
  margin-bottom: 0.3rem;
  margin-top: 0.8rem;
  font-weight: 700;
  display: block;
}

.form input {
  padding: 0.6rem;
  width: 14.8rem;
}
.form select{
  padding: 0.6rem;
  width: 14.8rem;
}
.button {
  padding: 0.7rem;
  width: 7.8rem;
  background: var(--blue);
  color: var(--white);
}
.button:hover {
  background: var(--hover);
}