.headline {
  font-size: 3.2rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  color:var(--yellow);
  margin-bottom: 0.8rem;
  line-height: 1.4;
  display: inline;
}
.headline1 {
  font-size: 1.8rem;
  font-family: var(--font-sans);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.8rem;
  line-height: 1.2;
  display: inline;
}
.headline3 {
  font-size: 7.2rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  color:var(--yellow);
  margin-bottom: 0.8rem;
  line-height: 1.4;
  display: inline;
}
.link{
  color: var(--blue);
  text-decoration: underline;
  font-weight: 600;
  font-size:0.9rem;
  padding-bottom: 4rem;
  padding-left: 1rem;

}
.head{
  text-align: center;
}
.head2{
  text-align: center;
  margin-top: 8rem;
}
.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content2 {
text-align: center;
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0.1;
}
.content :last-child {
  margin-bottom: 0;
}

.form {
  background-color: var(--dusty-blue-lighter);
  padding: 1.5rem;
}

.label {
  margin-bottom: 0.3rem;
  margin-top: 0.8rem;
  font-weight: 700;
  display: block;
}

.form input {
  padding: 0.6rem;
  width: 14.8rem;
}
.form select {
  padding: 0.6rem;
  width: 14.8rem;
}
.button {
  padding: 0.7rem;
  width: 7.8rem;
  background: var(--blue);
  color: var(--white);
  vertical-align: middle;
}
.button svg{
  height: 0.8rem;
}
.button:hover {
  background: var(--hover);
}


.form .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.list_section ul {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-left: 0;
}

.list_section li {
  list-style: none;
  margin: 0;
  background-color: var(--dusty-aqua);
  padding: 1rem;
  border-radius: 0px;
  position: relative;
}

.list_section li h1 {
  color: var(--dark-blue);
  font-weight: 600;
}

.list_section li button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 15px;
  text-align: center;
  top: 10px;
  right: 10px;
}
.list_section li button:hover{
  background-color: var(--hover);
}