.headline {
  font-size: 3.5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  color:var(--yellow);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  display: inline;
}
.headline1 {
  font-size: 1rem;
  font-family: var(--font-sans);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  display: inline;
}
.head{
  text-align: center;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.buyersCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.buyersCard {
  background-color: var(--dusty-aqua-light);
  padding: 1rem;
  border-radius: 1px;
  border-bottom: 4px solid var(--dark-blue);
  box-shadow: var(--grey)1px 4px 4px 1px;
}
.buyersCard:hover {
  box-shadow: var(--grey) 3px 7px 7px 3px;
}
.estateTypeStyling {
  font-size: larger;
  font-weight: 800;
  letter-spacing: 0.4px;
}

.familyIcon {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.familyIcon::before {
  content: url("../../assets/icon-family.svg");
}

.sizeIcon::before {
  content: url("../../assets/icon-min-area.svg");
  vertical-align: middle;
  margin-right: 16px;
}

.p {
  font-weight: 300;
  font-size: 0.9em;
}


.buyersCardCheckbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buyersCardCheckbox input[type="checkbox"]{
  color: var(--dark-blue);
}
.customCheckbox:checked{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--dark-blue);
  color: var(--dark-blue);
  margin-right: 5px;
  border-radius: 0;
}
.customCheckbox{
  content: "";
  display: block;
  width: 15px;
  color: var(--dark-blue);
  height: 15px;
  background-color: var(--dark-blue);
  margin-right: 5px;
  border-radius: 0;
}
.button {
  padding: 0.7rem;
  width: 7.8rem;
  background: var(--blue);
  color: var(--white);
  vertical-align: middle;
}

.button:hover {
  background: var(--hover);
}
.container{
  text-align: right;
  position: relative;

  margin-right: 2rem;
}