.headline {
  font-size: 3rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.buyersCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.buyersCard {
  background-color: var(--dusty-aqua-light);
  padding: 1rem;
  border-radius: 1px;
  border-bottom: 4px solid var(--dark-blue);
  box-shadow: var(--grey) 2px 6px 6px;
}

.estateTypeStyling {
  font-size: larger;
  font-weight: 800;
  letter-spacing: 0.4px;
}

.familyIcon {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.familyIcon::before {
  content: url("../../assets/icon-family.svg");
}

.sizeIcon::before {
  content: url("../../assets/icon-min-area.svg");
  vertical-align: middle;
  margin-right: 16px;
}

.p {
  font-weight: 300;
  font-size: 0.9em;
}
